
body { 
background: url(img/bg.png);
font-family: arial; 
}
#wrap {
    width: 1172px; 
    margin:0 auto; 
}

/* Начало первого блока */
#one{
     margin-top: 90px; /* Отступ сверху */
    
}
/*телефон*/
#one_left{
    float:left;
}

#one_right{
    float:left;
     margin-left: 160px; /* Отступ слева */
    margin-top: 140px; /* Отступ сверху */
}

.Value {
  font-size: 50px;
  font-family: "ProximaNova";
  color: rgb(185, 185, 185);
  line-height: 0.4;
  text-align: justifyLeft;
  position: absolute;
 margin-left: 25px;
    margin-top: 60px;
  z-index: 8;
}

.text {
  font-size: 30px;
  font-family: "ProximaNovaSoft";
  color: rgb(185, 185, 185);
  line-height: 1.3;
  text-align: left;
  position: absolute;
  margin-top: 250px;
    margin-left: 2px;
  width: 490px;
  height: 60px;
  z-index: 9;
}


.download_text {
  font-size: 22px;
  font-family: "ProximaNovaSoft";
  color: rgb(104, 200, 48);
}

#button{
margin-top: 360px;

}

.download {
  border-radius: 30px;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(108, 200, 47);
  background-color: rgba(13, 72, 98, 0);
  position: absolute;
   width: 230px;
  height: 60px;
 
  z-index: 11;
}

.learn_more_text {
  font-size: 22px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
}

.learn_more {
  border-radius: 30px;
  background-color: rgb(185, 185, 185);
  position: absolute;
    margin-left: 270px;
  width: 230px;
  height: 60px;
  z-index: 12;
}

#icon{
    margin-top: 500px; 
}
.aple {
  
  width: 26px;
  height: 32px;
  z-index: 6;
}

.android {
  
  margin-left: 40px;
  width: 28px;
  height: 32px;
  z-index: 5;
}

.win {
  
 margin-left: 40px;
  width: 31px;
  height: 32px;
  z-index: 4;
}
/* конец первого блока */

/* начало второго блока */
#second{
 background-color: rgb(152, 211, 97);
  position: absolute;
    margin-top: 850px;
  width: 100%;
  height: 700px;  
  
}

.text1 {
  font-size: 35px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
  line-height: 1.2;
    width: 632px;
  text-align: center;
  position: absolute;
margin-left: 270px;
  z-index: 25;
}

.text2 {
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
 margin-top: 65px;
    margin-left: 120px;
  width: 970px;
  height: 31.986px;
  z-index: 31;
}

.Shape_4 {
  position: absolute;
  margin-top:  300px;
    margin-left: 170px;
  width: 83px;
  height: 70px;
  z-index: 28;
}

.Shape_3 {
  position: absolute;
    margin-top: 300px;
    margin-left: 520px;
  width: 89px;
  height: 70px;
  z-index: 27;
}

.Shape_2 {
  position: absolute;
margin-top: 300px;
    margin-left: 902px;
  width: 70px;
  height: 69px;
  z-index: 23;
}

.Very_Smart {
  font-size: 28px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 440px;
    margin-left: 137px;
  z-index: 29;
}

.Responsive {
  font-size: 28px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 440px;
    margin-left: 500px;
  z-index: 24;
}

.Crisp___clear {
  font-size: 28px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 440px;
    margin-left: 870px;
  z-index: 22;
}

.Lorem_Ipsum{
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 500px;
    margin-left: 73px;
  width: 266px;
  height: 90px;
  z-index: 30;
}

.Lorem_Ipsum2 {
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 500px;
    margin-left: 430px;
  width: 266px;
  height: 90px;
  z-index: 26;
}

.Lorem_Ipsum3 {
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 500px;
    margin-left: 800px;
  width: 266px;
  height: 90px;
  z-index: 25;
}
/* конец второй блок */

/* начало третий блок */
.third{
  position: absolute;
    margin-top: 1540px;
  width: 100%;
  height: 950px;   
}

.Vector_Smart_Object_copy_4_png {
  position: absolute;
margin-top: 60px;
    margin-left: 10px;
  width: 312px;
  height: 539px;
  z-index: 41;
}

.Layer_32_png {
  opacity: 0.278;
  position: absolute;
margin-top: 40px;
    margin-left: 170px;
  width: 386px;
  height: 657px;
  z-index: 43;
}

.Vector_Smart_Object_copy_2_png {
  position: absolute;
margin-top: 40px;
    margin-left: 175px;
  width: 369px;
  height: 651px;
  z-index: 44;
}

.Features_availalbe_with_Easy_perfect_free_app_ {
  font-size: 36px;
  font-family: "ProximaNovaSoft";
  color: rgb(114, 114, 114);
margin-top: 175px;
    margin-left: 645px;
  z-index: 35;
}

.Shape_12 {
  position: absolute;
margin-top: 90px;
    margin-left: 651px;
  width: 39px;
  height: 39px;
  z-index: 46;
}

.Shape_11 {
  position: absolute;
margin-top: 200px;
    margin-left: 651px;
  width: 39px;
  height: 39px;
  z-index: 46;
}

.Shape_14 {
  position: absolute;
margin-top: 300px;
    margin-left: 651px;
  width: 39px;
  height: 39px;
  z-index: 46;
}

.Shape_3_copy {
  position: absolute;
margin-top: 420px;
    margin-left: 651px;
  width: 39px;
  height: 39px;
  z-index: 46;
}

.Beautiful__modern_design_Duis_bibendum_diam_non {
  font-size: 25px;
  font-family: "ProximaNova";
  color: rgb(152, 211, 97);
  line-height: 1.2;
  text-align: left;
  position: absolute;
margin-top: 90px;
    margin-left: 725px;
  width: 368px;
  height: 38px;
  z-index: 38;
}
.Duis_bibendum_diam_non {
margin-top: 115px;
    margin-left: 725px;
      font-size: 20px;
  font-family: "ProximaNova";
color: rgb(188, 182, 182)
  line-height: 1.2;
  text-align: left;
  position: absolute;
}

.Easy_to_customize{
  font-size: 25px;
  font-family: "ProximaNova";
  color: rgb(152, 211, 97);
  line-height: 1.2;
  text-align: left;
  position: absolute;
margin-top: 190px;
    margin-left: 725px;
  width: 368px;
  height: 38px;
  z-index: 37;
}

.Duis_bibendum_diam_non_era_facilaisis_tincid {
margin-top: 220px;
    margin-left: 725px;
      font-size: 20px;
  font-family: "ProximaNova";
color: rgb(188, 182, 182)
  line-height: 1.2;
  text-align: left;
  position: absolute;
}
.Developer_Friendly {
  font-size: 25px;
  font-family: "ProximaNova";
  color: rgb(152, 211, 97);
  line-height: 1.2;
  text-align: left;
  position: absolute;
margin-top: 300px;
    margin-left: 725px;
  width: 368px;
  height: 38px;
  z-index: 39;
}
.Duis_bibendum_diam_non_era_facilaisis_tincid1 {
margin-top: 325px;
    margin-left: 725px;
      font-size: 20px;
  font-family: "ProximaNova";
color: rgb(188, 182, 182)
  line-height: 1.2;
  text-align: left;
  position: absolute;
}

.Fully_Responsive {
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(152, 211, 97);
  line-height: 1.2;
  text-align: left;
margin-top: 420px;
    margin-left: 725px;
  width: 368px;
  height: 38px;
  z-index: 40;
}

.Duis_bibendum_diam_non_era_facilaisis_tincid2 {
margin-top: 0px;
    margin-left: 725px;
      font-size: 20px;
  font-family: "ProximaNova";
color: rgb(188, 182, 182)
  line-height: 1.2;
  text-align: left;
  position: absolute;
}
/* Конец третьего блока */