
 @font-face {
    font-family: ProximaNova; /* Гарнитура шрифта */
    src: url(fonts/ProximaNovaSoft-Regular-webfont.ttf); /* Путь к файлу со шрифтом */
   }


body { 
background: url(img/bg.png);
font-family: arial; 
}
#wrap {
    width: 1172px; 
    margin:0 auto; 
}

/* Начало первого блока */
#one{
     margin-top: 90px; /* Отступ сверху */
    
}
/*телефон*/
#one_left{
    float:left;
}

#one_right{
    float:left;
     margin-left: 160px; /* Отступ слева */
    margin-top: 140px; /* Отступ сверху */
}

.Value {
  font-size: 50px;
  font-family: "ProximaNova";
  color: rgb(185, 185, 185);
  line-height: 0.4;
  text-align: justifyLeft;
  position: absolute;
 margin-left: 25px;
    margin-top: 60px;
}

.text {
  font-size: 30px;
  font-family: "ProximaNovaSoft";
  color: rgb(185, 185, 185);
  line-height: 1.3;
  text-align: left;
  position: absolute;
  margin-top: 250px;
    margin-left: 2px;
  width: 490px;
  height: 60px;
}


.download_text {
  font-size: 22px;
  font-family: "ProximaNovaSoft";
  color: rgb(104, 200, 48);
}

#button{
margin-top: 360px;
}

.download {
  border-radius: 30px;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(108, 200, 47);
  background-color: rgba(13, 72, 98, 0);
  position: absolute;
   width: 230px;
  height: 60px;
}

.learn_more_text {
  font-size: 22px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
}

.learn_more {
  border-radius: 30px;
  background-color: rgb(185, 185, 185);
  position: absolute;
    margin-left: 270px;
  width: 230px;
  height: 60px;
}

#icon{
    margin-top: 500px; 
}
.aple {
  
  width: 26px;
  height: 32px;
}

.android {
  
  margin-left: 40px;
  width: 28px;
  height: 32px;
}

.win {
  
 margin-left: 40px;
  width: 31px;
  height: 32px;
}
/* конец первого блока */

/* начало второго блока */
#second{
 background-color: rgb(152, 211, 97);
  position: absolute;
    margin-top: 850px;
  width: 100%;
  height: 700px;  
}

.text1 {
  font-size: 35px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
  line-height: 1.2;
    width: 632px;
  text-align: center;
  position: absolute;
margin-left: 270px;
    margin-top: 50px;
}

.text2 {
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
 margin-top: 100px;
    margin-left: 120px;
  width: 970px;
  height: 31.986px;
}

.Shape_4 {
  position: absolute;
  margin-top:  300px;
    margin-left: 170px;
  width: 83px;
  height: 70px;
}

.Shape_3 {
  position: absolute;
    margin-top: 300px;
    margin-left: 520px;
  width: 89px;
  height: 70px;
}

.Shape_2 {
  position: absolute;
margin-top: 300px;
    margin-left: 902px;
  width: 70px;
  height: 69px;
}

.Very_Smart {
  font-size: 28px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 440px;
    margin-left: 137px;
}

.Responsive {
  font-size: 28px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 440px;
    margin-left: 500px;
}

.Crisp___clear {
  font-size: 28px;
  font-family: "ProximaNovaSoft";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 440px;
    margin-left: 870px;
}

.Lorem_Ipsum{
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 500px;
    margin-left: 73px;
  width: 266px;
  height: 90px;
}

.Lorem_Ipsum2 {
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 500px;
    margin-left: 430px;
  width: 266px;
  height: 90px;
}

.Lorem_Ipsum3 {
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
margin-top: 500px;
    margin-left: 800px;
  width: 266px;
  height: 90px;
}
/* конец второй блок */

/* начало третий блок */
.third{
    background-color: rgb(232, 232, 237);
  position: absolute;
    margin-top: 1540px;
  width: 100%;
  height: 950px;   
}

.Vector_Smart_Object_copy_4_png {
  position: absolute;
margin-top: 60px;
    margin-left: 10px;
  width: 312px;
  height: 539px;
}

.Layer_32_png {
  opacity: 0.278;
  position: absolute;
margin-top: 40px;
    margin-left: 170px;
  width: 386px;
  height: 657px;
}

.Vector_Smart_Object_copy_2_png {
  position: absolute;
margin-top: 40px;
    margin-left: 175px;
  width: 369px;
  height: 651px;
}

.Features_availalbe_with_Easy_perfect_free_app_ {
  font-size: 36px;
  font-family: "ProximaNovaSoft";
  color: rgb(114, 114, 114);
margin-top: 175px;
    margin-left: 645px;
}

.Shape_12 {
  position: absolute;
margin-top: 90px;
    margin-left: 651px;
  width: 39px;
  height: 39px;
}

.Shape_11 {
  position: absolute;
margin-top: 200px;
    margin-left: 651px;
  width: 39px;
  height: 39px;
}

.Shape_14 {
  position: absolute;
margin-top: 300px;
    margin-left: 651px;
  width: 39px;
  height: 39px;
}

.Shape_3_copy {
  position: absolute;
margin-top: 420px;
    margin-left: 651px;
  width: 39px;
  height: 39px;
}

.Beautiful__modern_design_Duis_bibendum_diam_non {
  font-size: 25px;
  font-family: "ProximaNova";
  color: rgb(152, 211, 97);
  line-height: 1.2;
  text-align: left;
  position: absolute;
margin-top: 90px;
    margin-left: 725px;
  width: 368px;
  height: 38px;
}
.Duis_bibendum_diam_non {
margin-top: 115px;
    margin-left: 725px;
      font-size: 20px;
  font-family: "ProximaNova";
color: rgb(188, 182, 182)
  line-height: 1.2;
  text-align: left;
  position: absolute;
}

.Easy_to_customize{
  font-size: 25px;
  font-family: "ProximaNova";
  color: rgb(152, 211, 97);
  line-height: 1.2;
  text-align: left;
  position: absolute;
margin-top: 190px;
    margin-left: 725px;
  width: 368px;
  height: 38px;
}

.Duis_bibendum_diam_non_era_facilaisis_tincid {
margin-top: 220px;
    margin-left: 725px;
      font-size: 20px;
  font-family: "ProximaNova";
color: rgb(188, 182, 182)
  line-height: 1.2;
  text-align: left;
  position: absolute;
}
.Developer_Friendly {
  font-size: 25px;
  font-family: "ProximaNova";
  color: rgb(152, 211, 97);
  line-height: 1.2;
  text-align: left;
  position: absolute;
margin-top: 300px;
    margin-left: 725px;
  width: 368px;
  height: 38px;
}
.Duis_bibendum_diam_non_era_facilaisis_tincid1 {
margin-top: 325px;
    margin-left: 725px;
      font-size: 20px;
  font-family: "ProximaNova";
color: rgb(188, 182, 182)
  line-height: 1.2;
  text-align: left;
  position: absolute;
}

.Fully_Responsive {
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(152, 211, 97);
  line-height: 1.2;
  text-align: left;
margin-top: 420px;
    margin-left: 725px;
  width: 368px;
  height: 38px;

}

.Duis_bibendum_diam_non_era_facilaisis_tincid2 {
margin-top: 0px;
    margin-left: 725px;
      font-size: 20px;
  font-family: "ProximaNova";
color: rgb(188, 182, 182)
  line-height: 1.2;
  text-align: left;
  position: absolute;
}
/* Конец третьего блока */

/* Начало четвертого блока */
.fourth{

     position: absolute;
    margin-top: 200px;
  width: 100%;
  height: 600px; 
}

.cov {
  font-size: 36px;
  font-family: "Stencil";
  line-height: 0.667;
  position: absolute;
margin-top: 100px;
    margin-left: 570px;
}
._Sed_sagittis {
  font-size: 25px;
  font-family: "ProximaNovaSoft";
  color: rgb(140, 148, 148);
  text-align: center;
  position: absolute;
margin-top: 180px;
    margin-left: 270px;
      width: 670px;
  height: 90px;
}
.round_png1 {
  border-radius: 50%;
  position: absolute;
margin-top: 350px;
    margin-left: 110px;
  width: 73px;
  height: 73px;
}
.layer1 {
 
  border-radius: 50%;
  position: absolute;
margin-top: 355px;
    margin-left: 114px;
  width: 88px;
  height: 88px;
}

.round_png2 {
  border-radius: 50%;
  position: absolute;
margin-top: 350px;
    margin-left: 490px;
  width: 73px;
  height: 73px;
}
.layer2 {
  border-radius: 50%;
  position: absolute;
margin-top: 355px;
    margin-left: 495px;
  width: 88px;
  height: 88px;
}
.round_png3 {
  border-radius: 50%;
  position: absolute;
margin-top: 350px;
    margin-left: 850px;
  width: 73px;
  height: 73px;
}
.layer3 {
  border-radius: 50%;
  position: absolute;
margin-top: 355px;
    margin-left: 855px;
  width: 88px;
  height: 88px;
}

.Wells_Riley {
  font-size: 24px;
  font-family: "ProximaNovaSoft";
  color: rgb(152, 211, 97);
  line-height: 1;
  text-align: left;
  position: absolute;
margin-top: 360px;
    margin-left: 200px;
}
.Anthony_Lagoon {
  font-size: 24px;
  font-family: "ProximaNovaSoft";
  color: rgb(152, 211, 97);
  line-height: 1;
  text-align: left;
  position: absolute;
margin-top: 360px;
    margin-left: 580px;
}

.Anna_Yeaman {
  font-size: 24px;
  font-family: "ProximaNovaSoft";
  color: rgb(152, 211, 97);
  line-height: 1;
  text-align: left;
  position: absolute;
margin-top: 360px;
    margin-left: 950px;
}

.Creative_Director_ {
  font-size: 18px;
  font-family: "ProximaNovaSoft";
  color: rgb(140, 148, 148);
  line-height: 1.333;
  text-align: left;
  position: absolute;
    margin-top: 390px;
    margin-left: 953px;
}
.photographer {
  font-size: 18px;
  font-family: "ProximaNovaSoft";
  color: rgb(140, 148, 148);
  line-height: 1.333;
  text-align: left;
  position: absolute;
    margin-top: 390px;
    margin-left: 583px;
}
.Designer {
  font-size: 18px;
  font-family: "ProximaNovaSoft";
  color: rgb(140, 148, 148);
  line-height: 1.333;
  text-align: left;
  position: absolute;
    margin-top: 390px;
    margin-left: 203px;
}
.dot_copy_png {
  border-radius: 50%;
  background-color: rgb(152, 211, 97);
  position: absolute;
 margin-top: 550px;
    margin-left: 570px;
  width: 10px;
  height: 11px;
}
.dot_png {
  border-radius: 50%;
  background-color: rgb(140, 148, 148);
  position: absolute;
margin-top: 550px;
    margin-left: 590px;
  width: 11px;
  height: 11px;
}
.dot_png1 {
  border-radius: 50%;
  background-color: rgb(140, 148, 148);
  position: absolute;
margin-top: 550px;
    margin-left: 610px;
  width: 11px;
  height: 11px;
}

